body {
    background-color: #db3760;
}

p, h1 {
    text-align: center;
}

a {
    display: block; 
    text-align: center
}

img {
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto
}